<div DragDropUpload (onFileDropped)="loadFile($event)" class="drag-drop-container">
    <input hidden type="file" #fileInput (change)="loadFile($event.target.files)">
    <ng-container *ngIf="!!files && files.length > 0; else noFiles">
        <div class="files-list">
            <div class="container">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Incompatibility Warning!</h4>
                    <p class="mb-0">
                        The backup database (DynamoDB) has a systematic limitation of 400kb per 'Item'.
                        Large Files loaded may not meet this requirement.
                    </p>
                </div>
                <div class="file-container">
                    <div *ngFor="let _file of files; let i = index" class="card shadow">
                        <object align="middle" class="file-preview card-img-top" [type]="_file?.type"
                            [data]="_file?.blob | dataURI | sanitize: 'resource'" width="100%" height="150">
                        </object>
                        <div class="card-body">
                                <ng-container *ngIf="_file?.dbCompatible; else dynamoIncompatible">
                                    <span class="badge badge-info">Compatible with
                                        DynamoDB</span>
                                </ng-container>
                                <ng-template #dynamoIncompatible>
                                    <span class="badge badge-warning">Incompatible with
                                        DynamoDB</span>
                                </ng-template>
                            <h4 class="card-title">{{ _file?.name }}</h4>
                            <div>
                                <ng-container *ngIf="_file?.inTheCloud; else localFileOnly">
                                    <label for="fileDesc">Description:</label>
                                    <p class="card-text" id="fileDesc">{{_file?.description}}</p>
                                    <div>
                                        <a (click)="deleteAttachment(i)" class="btn btn-outline-danger">Delete</a>
                                        &nbsp;
                                        <span class="badge badge-success">Uploaded</span>
                                    </div>
                                </ng-container>
                                <ng-template #localFileOnly>
                                    <label for="fileDesc">Description:</label>
                                    <textarea id="fileDesc" class="form-control" [(ngModel)]="_file.description"
                                        aria-label="File Description"></textarea>
                                    <div>
                                        <a (click)="deleteAttachment(i)" class="btn btn-outline-danger">Delete</a>
                                        &nbsp;
                                        <a (click)="pushToCloud(i)" class="btn btn-success">
                                            Save to Cloud
                                        </a>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noFiles>
        <div class="file-upload">
            <img src="../../../assets/images/upload-icon.svg" alt="Upload files image">
            <h4 class="w-50 mt-2 mx-auto">
                Select a file or 'drag and drop' your files to upload them
            </h4>
        </div>
    </ng-template>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="container">
        <div class="mb-2 mr-auto">
            <h3 class="m-0">File Upload</h3>
        </div>
        <button class="btn btn-sm btn-primary" type="button" (click)="fileInput.click()">
            Select File
        </button>
        <ng-container *ngIf="files && files?.length > 0">
            &nbsp;
            <button class="btn btn-sm btn-success" type="button" (click)="pushAllToCloud()">
                Save All to Cloud
            </button>
        </ng-container>
    </div>
</nav>