.drag-drop-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    .file-upload {
        margin: 35vh auto;
        text-align: center;
        color: gray;
    }

    .files-list {
        overflow: auto;
        max-height: 90vh;

        .container {
            margin-top: 10vh;

            .file-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                column-gap: 1rem;
                row-gap: 1rem;

                .card-body a {
                    margin: 0.5rem 0;
                }

                .file-preview {
                    margin-top: 1rem;
                    filter: drop-shadow(3px 3px 1px gray);
                }
            }
        }
    }
}