<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Lets dive into some Serverless!</h1>
        <p class="lead">The purpose of this solution is to allow a user to <i>securely</i> upload a document, then
            programmatically back up
            the contents of that document to a NoSQL Database.</p>
        <hr class="my-4">
        <p>This application was built using AWS/Serverless technologies to allow for fast, consistent, and scalable
            deployments.</p>
        <a class="btn btn-primary btn-lg" [routerLink]="['/secure', 'case-study']" role="button">Learn more</a>
    </div>
</div>
<div class="container">
    <h1>
        The Assignment
    </h1>
    <div class="p-3">
        <div class="row col2 assignment-container">
            <div class="col-sm">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">
                            Description
                        </h4>
                        <p>
                            {{assignment?.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h4>
                    User Acceptance Criteria
                </h4>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let _item of assignment?.userAcceptance">{{_item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>