<div class="container my-3">
    <h1 class="display-4">
        Technology
    </h1>
    <div class="my-3 tech-card-grid">
        <div *ngFor="let _layer of technology" class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title">{{_layer?.title}}</h2>
                <div>
                    <a *ngFor="let _tech of _layer?.technologies" class="badge badge-info m-1" target="_blank"
                        [href]="_tech?.url">{{_tech?.label}}</a>
                </div>
                <hr class="my-2">
                <div *ngFor="let _tech of _layer?.technologies">
                    <h5>{{_tech?.label}}</h5>
                    <ul *ngIf="_tech.reasonList as _list">
                        <li *ngFor="let _reason of _list">{{_reason}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>