<nav class="shadow sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['secure', 'home']">Go Serverless</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['secure','case-study']">Case Study</a>
        </li>
      </ul>
      <button class="btn btn-sm btn-secondary" type="button" [routerLink]="['secure','upload-file']">Try It!</button>
      &nbsp;
      &nbsp;
      <button class="btn btn-sm btn-outline-danger" type="button" (click)="logoutUser()">Logout</button>
  </div>
</nav>
<div class="pb-5">
  <router-outlet></router-outlet>
</div>